@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: ;
  --bg-color: hsl(185, 75%, 39%);
  --p-color: hsl(227, 10%, 46%);
  --h4-color: hsl(229, 23%, 23%);
  --rad: 10px;
}
h4 {
  color: var(--h4-color);
}
p {
  color: var(--p-color);
}
h4 {
  font-size: 18px;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  text-transform: capitalize;
}
.cont {
  background-image: url(images/bg-pattern-bottom.svg),
    url(images/bg-pattern-top.svg);
  background-repeat: no-repeat;
  background-position: top 10vh left 60vw, bottom 20vh right 60vw;
  background-color: var(--bg-color);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -------card-------- */
.card {
  background-color: white;
  border-radius: var(--rad);
  -webkit-border-radius: var(--rad);
  -moz-border-radius: var(--rad);
  -ms-border-radius: var(--rad);
  -o-border-radius: var(--rad);
}
.card .pic {
  position: relative;
}
.card .pic .cover {
  border-top-left-radius: var(--rad);
  border-top-right-radius: var(--rad);
}
.card .pic .profile {
  position: absolute;
  top: -0%;
  left: 50%;
  transform: translate(-50%, 100%);
  -webkit-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  -o-transform: translate(-50%, 100%);
  outline: 5px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  /* width: calc(- 100px); */
}
.txt {
  margin-top: 70px;
  margin-bottom: 20px;
  text-align: center;
}
.txt h4 {
  margin-bottom: 5px;
}
.txt h4 span {
  font-weight: initial;
  color: var(--p-color);
}
/* ----------vw------------ */
.vw {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  border-top: 1px solid #aaa;
  text-align: center;
}
.vw p {
  margin-top: 5px;
  font-size: 10px;
  letter-spacing: 2px;
}
